select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	background: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}
#stage {
	style="border: 1px solid #ddd;
	overflow-x:hidden;
	transition: all 0.35s ease;
}
#stage,
#stage .table {
	color: #888;
	font-size: 14px;
}
#stage a {
	text-decoration: none;
}
#login-window-container {
	width: 100%;
	height: 100%;
}
#login-window {
	padding: 10px;
	width: 320px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
#login-window-header {
	height: 22px;
}
#login-window-body>.input-group>.input-group-addon {
	background: none;
	color: #bbb;
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}
#login-window-body>.input-group>.form-control {
	border-left: none;
	box-shadow: none;
}
#login-window-body>.input-group>.form-control:focus {
	border-color: #ccc;
}
#login-window-footer {
	text-align: right;
	padding-top: 10px;
}
#logout-btn {
	color: #888;
}
#logout-btn:hover {
	color: #428bca
}
#spec-editor,
#spec-preview-container,
.view-defaults {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

#page-header {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

.code-block {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: #428bca;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.code-block.details {
	width:100%;
	height:100%;
	padding: 10px;
	border-left: none;
	border-radius: 0 3px 3px 0;
}
textarea.rpmspec {
	padding: 5px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ccc;
	resize: vertical;
	font-size: 13px;
}
textarea.code-block.rpmspec {
	overflow: hidden;
	min-height: 46px;
}
table.table>tbody>tr>td {
	padding: 6px;
}
table.table>tbody>tr>td:first-child {
	color: #666;
	vertical-align:middle;
	font-weight: bold;
}
#spec-preview-container,
#spec-editor {
	position: absolute;
	margin-bottom: 10px;
}
#builder-view {
	padding-top: 10px;
}
pre.spec-data {
	color: #428bca;
	background-color: #484848;
	font-size: 14px;
}
.nav-btn {
	font-weight: bold;
	cursor: pointer;
	font-size: 17px;
}
.nav-btn>a {
	color: #666;
}
.nav-btn-label {
	padding-left: 8px;
}
.form-control.ng-invalid.ng-invalid-url,
.form-control.ng-invalid.ng-invalid-required {
	background-color: #f2dede;
}
input.form-control.ng-invalid.ng-invalid-required::-moz-placeholder {
	color: #bbb;
}
input.form-control.ng-invalid.ng-invalid-required::-webkit-input-placeholder {
   color: #bbb;
}
#source-adder:hover>span {
	color: #428bca;
	cursor: pointer;
}